<% params = build_api_request_params(request_config).html_safe %>
<% if request_config['method'] == 'get' %>
  response = http.get(`<%= build_url(request_config['url']) %>`, <%= params %>).json();
<% elsif request_config['method'] == 'post' %>
  response = http.post(`<%= build_url(request_config['url']) %>`, JSON.stringify(<%= request_config['attributes'].to_json.html_safe %>) ,<%= params %>);
<% end %>

<% if (checks = request_config['checks']) %>
  <% checks.each do |check| %>
    <%= render partial: "k6_test_scripts/scenarios/check", locals: { message: check['message'], subject: check['subject'], operator: check['operator'], compare: check['compare'] } %>
  <% end %>
<% end %>

<% if (retrieve_object = request_config['retrieve_object']) %>
  <% collection_name = retrieve_object['collection'] %>
  <% object_position = retrieve_object['position'] %>
  objectId = response['<%= collection_name %>'][<%= object_position %>]['id'];
<% end %>
