response = response.clickLink({
    selector: "<%= link['selector'].html_safe %>:nth-child(<%= link['position'] %>)",
  <% if link['params'] %>
    params: <%= link['params'].to_json.html_safe %>,
  <% end %>
  });
<% if (checks = link['checks']) %>
  <% checks.each do |check| %>
    <%= render partial: "k6_test_scripts/scenarios/check", locals: { message: check['message'], subject: check['subject'], operator: check['operator'], compare: check['compare'] } %>
  <% end %>
<% end %>