<% if request_config['params'] %>
response = http.get(`<%= build_url(request_config['url']) %>`, <%= request_config['params'].to_json.html_safe %> );
<% else %>
response = http.get(`<%= build_url(request_config['url']) %>`);
<% end %>
<% if (checks = request_config['checks']) %>
  <% checks.each do |check| %>
    <%= render partial: "k6_test_scripts/scenarios/check", locals: { message: check['message'], subject: check['subject'], operator: check['operator'], compare: check['compare'] } %>
  <% end %>
<% end %>
<% if (form = request_config['form']) %>
  <%= render partial: "k6_test_scripts/scenarios/submit_form", locals: { form: form } %>
<% end %>
<% if (link = request_config['link']) %>
  <%= render partial: "k6_test_scripts/scenarios/click_link", locals: { link: link } %>
<% end %>
<% if (retrieve_object = request_config['retrieve_object']) %>
  <% selector = retrieve_object['selector'] %>
  <% object_position = retrieve_object['position'] %>
  <% retrieve_method = retrieve_object['retrieve_method'] %>
  objectId = response.html().find("<%= selector %>").get(<%= object_position %>).id()<%= ('.' + retrieve_method).html_safe if retrieve_method %>
<% end %>
<% if (object_id = request_config['object_id']) %>
  objectId = <%= object_id %>
<% end %>