<%= render partial: "k6_test_scripts/scenarios/variables_definition" %>
<% @scenario.each do |_name, request_config| %>
  <% if (batch = request_config['batch']) %>
    <%= render partial: "k6_test_scripts/scenarios/scenario_batch_request", locals: { batch: batch } %>
  <% else %>
    <%= render partial: "k6_test_scripts/scenarios/scenario_request", locals: { request_config: request_config } %>
  <% end %>
<% end %>