<% if request_config['api'] %>
  <%= render partial: "k6_test_scripts/scenarios/api_request", locals: { request_config: request_config } %>
<% else %>
  <%= render partial: "k6_test_scripts/scenarios/html_request", locals: { request_config: request_config } %>
<% end %>