response = http.batch([
  <% batch.each do |b| %>
    <%= render partial: "k6_test_scripts/scenarios/batch", locals: { r_method: b['method'], url: build_url(b['url']), body: b['body'], params: b['params'] } %>,
  <% end %>
]);
