response = response.submitForm({
  <% if form['form_selector'] %>
    formSelector: `<%= form['form_selector'].html_safe %>`,
  <% end %>
  <% if form['fields'] %>
    fields: <%= form['fields'].to_json.html_safe %>,
  <% end %>
  <% if form['params'] %>
    params: <%= form['params'].to_json.html_safe %>,
  <% end %>
  <% if form['submit_selector'] %>
    submitSelector: `<%= form['submit_selector'].html_safe %>`
  <% end %>
  });
<% if (checks = form['checks']) %>
  <% checks.each do |check| %>
    <%= render partial: "k6_test_scripts/scenarios/check", locals: { message: check['message'], subject: check['subject'], operator: check['operator'], compare: check['compare'] } %>
  <% end %>
<% end %>