<%= error_messages_for 'k6_settings' %>

<div class="box tabular">
  <!--[form:k6_settings]-->

  <p><%= f.text_field :k6_scripts_api_key, size: 45 %></p>

  <p><%= f.text_field :k6_scripts_base_url, size: 45 %></p>

  <h4><%= l(:label_setting_k6_remote_runner_configuration) %></h4>

  <p><%= f.check_box :k6_external_runner %></p>

  <p><%= f.text_field :k6_scripts_external_runner_url, size: 45 %></p>

  <p><%= f.text_field :k6_scripts_external_runner_access_key, size: 45 %></p>

  <p><%= f.text_field :k6_scripts_external_runner_testing_client_id, size: 45 %></p>

  <h4> <%= l(:label_setting_k6_access_keys) %> </h4>

  <p><%= f.text_field :k6_script_access_key, size: 45, disabled: true %></p>

  <p><%= f.text_field :k6_runner_access_key, size: 45, disabled: true %></p>

<!--  <h4><%#= l(:label_setting_k6_test_script_output) %></h4>-->

<!--  <p><%#= content_tag('label', check_box_tag('k6_settings[k6_script_output_format][]', 'text', f.object.k6_script_output_format.include?('text')) + ' ' + l(:label_k6_scripts_output_text)) %></p>-->

<!--  <p><%#= content_tag('label', check_box_tag('k6_settings[k6_script_output_format][]', 'csv', f.object.k6_script_output_format.include?('csv')) + ' ' + l(:label_k6_scripts_output_csv)) %></p>-->

<!--  <p><%#= content_tag('label', check_box_tag('k6_settings[k6_script_output_format][]', 'json', f.object.k6_script_output_format.include?('json')) + ' ' + l(:label_k6_scripts_output_json)) %></p>-->

  <%#= hidden_field_tag('k6_settings[k6_script_output_format][]', '') %>

  <h4><%= l(:label_setting_k6_prometheus_configuration) %></h4>

  <p><%= f.check_box :k6_prometheus %></p>

  <p><%= f.text_field :k6_prometheus_user %></p>

  <p><%= f.text_field :k6_prometheus_password %></p>

  <p><%= f.text_field :k6_prometheus_remote_url, size: 45 %></p>

  <!--[eoform:k6_settings]-->
</div>
<%= submit_tag l(:button_save) %>
