<%= title [l(:label_k6_test_script_plural), k6_test_scripts_path], l(:label_k6_settings) %>

<%= labelled_form_for @k6_settings, url: k6_settings_path, method: :post do |f| %>
  <%= render partial: 'form', locals: { f: f } %>
<% end %>
