<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'k6_parsed_result.css', plugin: 'load_tester' %>
  <%= javascript_include_tag 'chartkick.js', plugin: 'load_tester' %>
  <%= javascript_include_tag 'Chart.bundle.js', plugin: 'load_tester' %>
<% end %>

<%= title [l(:label_k6_result_plural), k6_results_path], @parsed_result.path %>

<h3><%= l(:label_k6_thresholds) %></h3>
<div class="attributes">
  <div class="attribute">
    <% @parsed_result.thresholds.each do |threshold, result| %>
      <div class="label icon icon-<%= result ? "ok" : "not-ok" %>"><%= threshold %></div>
    <% end %>
  </div>
</div>
</br>
<h3><%= l(:label_k6_checks) %></h3>
<div class="attributes">
  <div class="attribute checks">
    <% checks = @parsed_result.get_checks_result_percentage %>
    <div class="label icon icon-<%= checks == 100 ? "ok" : "not-ok" %>"><%= "#{checks}%" %></div>
    <div class="label checks-values"><%= "#{@parsed_result.get_checks_values}" %></div>
  </div>
</div>
</br>
<h3><%= l(:label_k6_test_run) %></h3>
<h4><%= l(:label_k6_vus) %></h4>
<%= render partial: "k6_results/metric_types/gauge", locals: { metric_data: @parsed_result.vus } %>
<br/>
<h4><%= l(:label_k6_http_req_failed) %></h4>
<%= render partial: "k6_results/metric_types/rate", locals: { metric_data: @parsed_result.req_failed } %>
<br/>
<% @parsed_result.metrics.each do |metric_name, metric_data| %>
  <h4><%= l(:"label_k6_#{metric_name}") %></h4>
  <%= render partial: "k6_results/metric_types/#{metric_data['type']}", locals: { metric_data: metric_data } %>
  <br/>
<% end %>
<h4><%= l(:label_k6_http_request_statistics) %></h4>
<table class="list k6_test_scripts">
  <thead>
  <tr>
    <th><%= l(:label_k6_request_name) %></th>
    <th><%= l(:label_k6_request_method) %></th>
    <% @parsed_result.req_statistics_keys.each do |column_name|%>
      <th><%= l(:"label_k6_request_#{column_name}", default: column_name) %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @parsed_result.req_statistics.each do |req_name, request_data|%>
    <% request_data.each do |method_name, method_data|%>
      <tr>
        <td class="request_name"> <%= req_name %> </td>
        <td class="request_method"> <%= method_name %> </td>
        <% @parsed_result.req_statistics_keys.each do |column_name|%>
          <% cell_value = method_data[column_name] %>
          <% if column_name != 'count' %>
            <% cell_color_class = k6_parsed_result_table_color_class(column_name, cell_value, @parsed_result.req_duration_thresholds) %>
            <td class="<%= "#{column_name} #{cell_color_class}" %>"><%= cell_value %></td>
          <% else %>
            <td class="<%= column_name %>"><%= cell_value %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>