<div class="contextual">
  <%= link_to l(:label_k6_db_dump), k6_results_k6_db_dump_path, class: 'icon icon-download' %>
</div>

<%= title [l(:label_k6_test_script_plural), k6_test_scripts_path], l(:label_k6_result_plural) %>

<table class="list k6_results">
  <thead>
  <tr>
    <th><%= l(:label_k6_result_file_name) %></th>
    <th><%= l(:label_k6_result_size) %></th>
    <th><%= l(:label_k6_result_script_name) %></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% if @non_grouped_results.present? %>
    <% @non_grouped_results.each do |result| %>
      <tr>
        <td>
          <%= link_to result.name, result.result_link %>
        </td>
        <td>
          <%= number_to_human_size(result.size) %>
        </td>
        <td>
          <%= result.script_name %>
        </td>
        <td>
          <%= link_to "", k6_results_k6_result_download_path(path: result.path), class: 'icon icon-download' %>
        </td>
      </tr>
    <% end %>
  <% end %>
  <% @results.each do |group, results| %>
    <tr>
      <td> <%= group.humanize %> </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <% results.each do |result| %>
      <tr>
        <td>
          <%= link_to result.name, result.result_link %>
        </td>
        <td>
          <%= number_to_human_size(result.size) %>
        </td>
        <td>
          <%= result.script_name %>
        </td>
        <td>
          <%= link_to "", k6_results_k6_result_download_path(path: result.path), class: 'icon icon-download' %>
        </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>