<%#= form_tag({ action: 'edit', tab: 'users' }) do %>

<!--  <div class="box tabular settings">-->
<!--    <p><%#= setting_text_field :k6_scripts_api_key %></p>-->

<!--    <p><%#= setting_text_field :k6_scripts_base_url %></p>-->

<!--    <h4> <%#= l(:label_setting_k6_remote_runner_configuration) %> </h4>-->

<!--    <p><%#= setting_check_box :k6_external_runner %></p>-->

<!--    <p><%#= setting_text_field :k6_scripts_external_runner_url %></p>-->

<!--    <p><%#= setting_text_field :k6_scripts_external_runner_access_key, size: 45 %></p>-->

<!--    <h4> <%#= l(:label_setting_k6_access_keys) %> </h4>-->

<!--    <p><%#= setting_text_field :k6_script_access_key, size: 45, disabled: true %></p>-->

<!--    <p><%#= setting_text_field :k6_runner_access_key, size: 45, disabled: true %></p>-->

<!--    <h4> <%#= l(:label_setting_k6_test_script_output) %> </h4>-->

<!--    <p><%#= setting_check_box :k6_scripts_output_text %></p>-->

<!--    <p><%#= setting_check_box :k6_scripts_output_csv %></p>-->

<!--    <p><%#= setting_check_box :k6_scripts_output_json %></p>-->
<!--  </div>-->

  <%#= submit_tag l(:button_save) %>
<%# end %>

<%# content_for :header_tags do %>
  <%#= stylesheet_link_tag 'k6_settings', plugin: 'load_tester' %>
<%# end %>