.ok_req_duration { color: green; }
.warning_req_duration { color: orange; }
.error_req_duration { color: red; }
div.request_min_max { text-align: center }
div.request_min_max > div { display: inline-block; padding: 0 5em}
div.rate { text-align: center }
div.checks > div { display: inline-block; }
div.checks-values { padding: 0 0 0 10em; }