<%= error_messages_for 'k6_testing_client' %>

<div class="box tabular">
<!--[form:k6_testing_client]-->
  <p><%= f.text_field :name, required: true %></p>
  <p><%= f.text_field :web_url, size: 45, required: true %></p>
  <p><%= f.text_field :script_access_key, size: 45, required: true %></p>

<!--[eoform:k6_testing_client]-->
</div>
<%= submit_tag l(@k6_testing_client.new_record? ? :button_create : :button_save) %>
