<%= title [l(:label_k6_testing_client_plural), k6_testing_clients_path], @k6_testing_client.name %>

<%= labelled_form_for @k6_testing_client do |f| %>
<%= render partial: 'form', locals: { f: f } %>
<% end %>
