<div class="contextual">
  <%= link_to l(:label_k6_testing_client_new), new_k6_testing_client_path, class: 'icon icon-add' %>
  <%= link_to l(:label_k6_test_script_plural), k6_test_scripts_path, class: 'icon icon-list' %>
</div>

<h2><%= l(:label_k6_testing_client_plural) %></h2>

<table class="list k6_testing_clients">
  <thead>
  <tr>
    <th><%= l(:label_k6_testing_client) %></th>
    <th><%= l(:label_k6_web_url) %></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @k6_testing_clients.each do |k6_testing_client| %>
    <tr>
      <td class="name"><%= link_to k6_testing_client.name, edit_k6_testing_client_path(k6_testing_client) %></td>
      <td class="web_url"> <%= k6_testing_client.web_url %> </td>
      <td class="buttons">
        <%= reorder_handle(k6_testing_client) %>
        <%= delete_link k6_testing_client_path(k6_testing_client) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<% html_title(l(:label_k6_testing_client_plural)) -%>

<%= javascript_tag do %>
  $(function() { $("table.k6_testing_clients tbody").positionedItems(); });
<% end %>
