<%= error_messages_for 'k6_test_scenario' %>

<div class="box tabular">
<!--[form:k6_test_scenario]-->
<p><%= f.text_field :title, required: true %></p>
<p><%= f.text_area :k6_script_configuration, rows: 20 %></p>

<!--[eoform:k6_test_scenario]-->
</div>
<%= submit_tag l(@k6_test_scenario.new_record? ? :button_create : :button_save) %>
