<%= title [l(:label_k6_test_scenario_plural), k6_test_scenarios_path], @k6_test_scenario.title %>

<%= labelled_form_for @k6_test_scenario do |f| %>
<%= render partial: 'form', locals: { f: f } %>
<% end %>
