<div class="contextual">
  <%= link_to l(:label_k6_test_scenario_new), new_k6_test_scenario_path, class: 'icon icon-add' %>
  <%= link_to l(:label_k6_test_script_plural), k6_test_scripts_path, class: 'icon icon-list' %>
  <%= link_to l(:label_k6_test_type_plural), k6_test_types_path, class: 'icon icon-list' %>
</div>

<h2><%= l(:label_k6_test_scenario_plural) %></h2>

<table class="list k6_test_scenarios">
  <thead>
  <tr>
    <th><%= l(:label_k6_test_scenario) %></th>
    <th><%= l(:label_k6_test_type_plural) %></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @k6_test_scenarios.each do |k6_test_scenario| %>
    <tr>
      <td class="name"><%= link_to k6_test_scenario.title, edit_k6_test_scenario_path(k6_test_scenario) %></td>
      <td class="description"> <%#= k6_test_scenario.k6_test_types.pluck(:title) %> </td>
      <td class="buttons">
        <%= reorder_handle(k6_test_scenario) %>
        <%= delete_link k6_test_scenario_path(k6_test_scenario) if k6_test_scenario.deletable? %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<% html_title(l(:label_k6_test_scenario_plural)) -%>

<%= javascript_tag do %>
  $(function() { $("table.k6_test_scenarios tbody").positionedItems(); });
<% end %>
