<div class="attributes">
  <div class="attribute">
    <div class="label"><%= "#{l(:label_k6_request_sum)}: #{metric_data['data']['sum']}" %></div>
    <div class="label"><%= "#{l(:label_k6_request_count)}: #{metric_data['data']['count']}" %></div>
    <div class="label"><%= "#{l(:label_k6_request_rate)}: #{metric_data['data']['sum'].to_f / metric_data['data']['count']}" %></div>
  </div>
</div>