<%= area_chart metric_data['data']['last_value'] %>
<br/>
<div class="attributes request_min_max">
  <div class="label"><%= "#{l(:label_k6_request_min)}: #{metric_data['data']['min']}" %></div>
  <div class="label"><%= "#{l(:label_k6_request_max)}: #{metric_data['data']['max']}" %></div>
</div>