<%= column_chart metric_data['data']['non_zero_count'] %>
<br/>
<div class="attributes">
  <div class="attribute rate">
    <div class="label"><%= "#{l(:label_k6_request_rate)}: #{@parsed_result.get_rate_percentage(metric_data['data'])}%" %></div>
  </div>
</div>