<div class="contextual">
  <%= link_to l(:label_k6_test_type_new), new_k6_test_type_path, class: 'icon icon-add' %>
  <%= link_to l(:label_k6_test_script_plural), k6_test_scripts_path, class: 'icon icon-list' %>
  <%= link_to l(:label_k6_test_scenario_plural), k6_test_scenarios_path, class: 'icon icon-list' %>
</div>

<h2><%= l(:label_k6_test_type_plural) %></h2>

<table class="list k6_test_types">
  <thead>
  <tr>
    <th><%= l(:label_k6_test_type) %></th>
    <th><%= l(:label_k6_test_scenario_plural) %></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @k6_test_types.each do |k6_test_type| %>
    <tr>
      <td class="name"><%= link_to k6_test_type.title, edit_k6_test_type_path(k6_test_type) %></td>
      <td class="description"> <%#= k6_test_type.k6_test_scenarios.pluck(:title) %> </td>
      <td class="buttons">
        <%= reorder_handle(k6_test_type) %>
        <%= delete_link k6_test_type_path(k6_test_type) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<% html_title(l(:label_k6_test_type_plural)) -%>

<%= javascript_tag do %>
  $(function() { $("table.k6_test_types tbody").positionedItems(); });
<% end %>
