<%= error_messages_for 'k6_test_script' %>

<div class="box tabular">
  <!--[form:k6_test_script]-->
  <p><%= f.text_field :title, required: true %></p>
  <p><%= f.select :k6_test_scenario_id, options_for_select(k6_test_scenarios, @k6_test_script.k6_test_scenario_id), required: true %></p>
  <p><%= f.select :k6_test_type_id, options_for_select(k6_test_types, @k6_test_script.k6_test_type_id), required: true %></p>

  <!--[eoform:k6_test_script]-->
</div>
<%= submit_tag l(@k6_test_script.new_record? ? :button_create : :button_save) %>
