<div class="contextual">
  <% if @k6_test_scripts.any? %>
    <%= link_to l(:label_k6_test_script_run_all_scripts), run_all_k6_scripts_k6_test_scripts_path, class: 'icon icon-test' %>
  <% end %>
  <%= link_to l(:label_k6_result_plural), k6_results_path, class: 'icon icon-folder' %>
  <%= link_to l(:label_k6_test_script_new), new_k6_test_script_path, class: 'icon icon-add' %>
  <%= link_to l(:label_k6_test_scenario_plural), k6_test_scenarios_path, class: 'icon icon-list' %>
  <%= link_to l(:label_k6_test_type_plural), k6_test_types_path, class: 'icon icon-list' %>
  <%= link_to l(:label_k6_testing_client_plural), k6_testing_clients_path, class: 'icon icon-list' %>
  <%= link_to l(:label_k6_settings), edit_k6_settings_path, class: 'icon icon-settings' %>
</div>

<h2><%= l(:label_k6_test_script_plural) %></h2>

<table class="list k6_test_scripts">
  <thead>
  <tr>
    <th><%= l(:label_k6_test_script) %></th>
    <th><%= l(:label_k6_test_scenario) %></th>
    <th><%= l(:label_k6_test_type) %></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @k6_test_scripts.each do |k6_test_script| %>
    <tr>
      <td class="name"><%= link_to k6_test_script.title, edit_k6_test_script_path(k6_test_script) %></td>
      <td class="description"> <%= k6_test_script.k6_test_scenario.title %> </td>
      <td class="description"> <%= k6_test_script.k6_test_type.title %> </td>
      <td class="buttons">
        <%= link_to '', run_k6_script_k6_test_script_path(k6_test_script), class: 'icon icon-test', title: l(:label_k6_test_script_run_k6_script) %>
        <%= link_to '', k6_test_script_k6_test_script_path(k6_test_script, access_key: K6Settings.k6_script_access_key, format: :js), class: 'icon icon-zoom-in', title: l(:label_k6_test_script_show) %>
        <%= reorder_handle(k6_test_script) %>
        <%= delete_link k6_test_script_path(k6_test_script) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<% html_title(l(:label_k6_test_script_plural)) -%>

<%= javascript_tag do %>
  $(function() { $("table.k6_test_scripts tbody").positionedItems(); });
<% end %>
