import http from 'k6/http';
import { check, sleep } from 'k6';

export const options = <%= @script_config.to_json.html_safe %>;

export default () => {
    <%= render partial: 'k6_test_scripts/scenarios/scenario' %>
    sleep(1);
};
