<%= title [l(:label_k6_test_script_plural), k6_test_scripts_path], l(:label_k6_test_script_new) %>

<%= labelled_form_for @k6_test_script do |f| %>
<%= render partial: 'form', locals: { f: f } %>
<% end %>
